# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Log files
logs/
*.log

# Configuration files
Configurations/Config.json